/*rajouter barre titre*/
/*php*/

html{
  background-color:#0E0E0E;
  color:white;
}

body{
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  margin: 0px;
  padding: 0px 0px 0px 0px;
}

header{
  background-color: #0E0E0E;
  padding: 10px 20px 40px 20px;
  display: block;
  transition-duration: 1s;
}


h1{
  font-family: Impact;
  font-size: 450%;
  background-image: url("barre.png");
  background-size: 550px 30px;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  text-shadow:#0E0E0E 5px 5px,#0E0E0E -5px 5px,#0E0E0E -5px -5px,#0E0E0E 5px -5px;
  margin: 0px 0px 20px 0px;
}


h2{
  font-size: 400%;
  font-family: Impact;
  text-shadow:#0A0A0A 6px 6px,#0A0A0A -6px 6px,#0A0A0A -6px -6px,#0A0A0A 6px -6px;
}

p{
  font-family: Gill Sans, sans-serif;
  font-size: 18px;
}

footer{
  background-color: #0A0A0A;
  margin: 0px;
  width: 100%;
  height: 540px;
  text-align: center;
}




#inscription{
  width:100%;
  margin:auto;
  padding-top: 0px;
  height: 1000px;

}

.box{
  width: 150%;
  padding: 25px;
  position: absolute;
  top: 500px;
  left: 50%;
  transform: translate(-50%,-30%);
  background: #191919;
  text-align: center;
  border: 3px solid white;
  margin: 0px;
}
.box h1{
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}
.box input[type = "text"],.box input[type = "password"], .box input[type = "email"]{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #5f6263;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.5s;
}
.box input[type = "text"]:focus,.box input[type = "password"]:focus, .box input[type = "email"]:focus{
  width: 280px;
  border-color: #d1bd21;
}
.box input[type = "submit"]{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #d1bd21;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.5s;
  cursor: pointer;
}
.box input[type = "submit"]:hover{
  background: #d1bd21;
}


/*-----------IN-------------*/

#contact > ul{
  margin:0px;
  padding: 0px;
}

#contact > ul :: after{
  content: "";
  display: block;
  clear: both;
}

#contact > ul > li{
  float: center;
  position: relative;
}


#contact li{
  list-style-type:none;
}

.submenu{
  display: none;
}

#contact a{
  display: inline-block;
  text-decoration: none;
}

#contact li:hover .submenu{
  display: inline-block;
  position: absolute;
  top: 35%;
  left: 54%;
  padding: 0px;
  z-index: 1000;
}

.submenu li{
  border-bottom: 1px solid white;
}

.submenu li a{
  padding: 5px 0px;
  font-size: 13px;
  width: 150px;
  color: white;
}


#fleche{
  padding: 5px;
}
