/*faire glisser l'épee quand grand écran JS*/
/*faire footer*/
/*faire fonctionner le clic*/
/*mettre un à propos et un forum sur des photos clicables du jeu*/
/*voir quoi rajouter avec JS(quand on arrive sur le site/ connexion inscription etc)*/
/*faire commencer le slide quand on passe la souris dessus (rajouter un play)*/

#container{
  margin: auto;
}


html{
  background-color:#0E0E0E;
  color:white;
}

body{
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  margin: 0px;
  padding: 0px 0px 0px 0px;
}

header{
  background-color: #0E0E0E;
  padding: 10px 20px 40px 20px;
  display: block;
}


h1{
  font-family: Impact;
  font-size: 650%;
  background-image: url("barre.png");
  background-size: 450px;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  text-shadow:#0E0E0E 6px 6px,#0E0E0E -6px 6px,#0E0E0E -6px -6px,#0E0E0E 6px -6px;
  margin: 0px 0px 20px 0px;
}

h2{
  font-size: 400%;
  font-family: Impact;
  text-shadow:#0E0E0E 6px 6px,#0E0E0E -6px 6px,#0E0E0E -6px -6px,#0E0E0E 6px -6px;
}



h3{
  font-family: Gill Sans, sans-serif;
  font-size: 23px;
}

p{
  font-family: Gill Sans, sans-serif;
  font-size: 18px;
}

footer{
  background-color: #0A0A0A;
  margin: 0px;
  width: 100%;
  height: 540px;
  text-align: center;

}

td{
  margin: 0px;
  padding: 0px;
}

table{
  margin: 0px;
  width: 100%;
  padding-bottom: 20px;
}

/*----------------CI---------------*/

nav > ul{
  margin:0px;
  padding: 0px;
}

nav > ul :: after{
  content: "";
  display: block;
  clear: both;
}

nav > ul > li{
  float: right;
  position: relative;
}


nav li{
  list-style-type:none;
}

.submenu{
  display: none;
}

nav a{
  display: inline-block;
  text-decoration: none;
}

nav li:hover .submenu{
  display: inline-block;
  position: absolute;
  top: 90%;
  right: 0px;
  padding: 0px;
  z-index: 1000;
}

.submenu li{
  border-bottom: 1px solid white;
}

.submenu li a{
  padding: 5px 0px;
  font-size: 13px;
  width: 150px;
  color: white;
}


#logo, nav{
  display: inline-block;
}

#logo{
  width: 49%;
}

nav{
  width: 49%;
}



/*-----------IN-------------*/

#contact > ul{
  margin:0px;
  padding: 0px;
}

#contact > ul :: after{
  content: "";
  display: block;
  clear: both;
}

#contact > ul > li{
  float: center;
  position: relative;
}


#contact li{
  list-style-type:none;
}

.submenu{
  display: none;
}

#contact a{
  display: inline-block;
  text-decoration: none;
}

#contact li:hover .submenu{
  display: inline-block;
  position: absolute;
  top: 35%;
  left: 54%;
  padding: 0px;
  z-index: 1000;
}

.submenu li{
  border-bottom: 1px solid white;
}

.submenu li a{
  padding: 5px 0px;
  font-size: 13px;
  width: 150px;
  color: white;
}


#fleche{
  padding: 5px;
}




#intro1{
  display: none;
}

#int{
  background-image: url("epeehorizontal.png");
  background-size: 1400px;
  background-repeat: no-repeat;
  background-position: bottom right;
  height: 550px;
}

slide{
  float: left;
  padding: 0px;
}

#slides{
  width: calc(800px*10);
  animation: glisse 50s infinite;
}

#slider{
  width: 800px;
  overflow: hidden;
  height: 500px;
  margin: 150px auto;
}


@keyframes glisse {
  0%{
    transform: translateX(O);
  }
  5%{
    transform: translateX(O);
  }
  10%{
    transform: translateX(-800px);
  }
  15%{
    transform: translateX(-800px);
  }
  20%{
    transform: translateX(-1600px);
  }
  25%{
    transform: translateX(-1600px);
  }
  30%{
    transform: translateX(-2400px);
  }
  35%{
    transform: translateX(-2400px);
  }
  40%{
    transform: translateX(-3200px);
  }
  50%{
    transform: translateX(-4000px);
  }
  55%{
    transform: translateX(-4000px);
  }
  60%{
    transform: translateX(-4800px);
  }
  65%{
    transform: translateX(-4800px);
  }
  70%{
    transform: translateX(-5600px);
  }
  80%{
    transform: translateX(-6400px);
  }
  85%{
    transform: translateX(-6400px);
  }
  90%{
    transform: translateX(-7200px);
  }
  95%{
    transform: translateX(-7200px);
  }
  100%{
    transform: translateX(O);
  }
}


@media screen and (max-width: 1550px) and (min-width: 981px) {

  table{
    padding-bottom: 70px;
    margin: 0px;
    width: 100%;
  }




}

@media screen and (max-width: 882px) and (min-width: 735px){

  #intro{
    display: none;
  }

  #intro1{
    display: block;
  }

  header{
    padding-bottom: 45px;
    margin: 0px;
  }

  h1{
    font-family: Impact;
    font-size: 700%;
    background-image: url("barre.png");
    background-size: 450px;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    text-shadow:#0E0E0E 6px 6px,#0E0E0E -6px 6px,#0E0E0E -6px -6px,#0E0E0E 6px -6px;
    margin-top: 0px;
    width: 100%;
  }

  table{
    background-image: none;
    height: auto;
  }

  tr{
    width: auto;
  }


}
