/* [insérer une description des styles appliqués]                     */
html{
  background-color:black;
  color:white;
}
body{
  margin:0;
  padding: 0;
  font-family: sans-serif;
}
/*----------------------*/
.Logo{
  width:50%;
  text-align: center;
}
/*----------------------*/
.description{
  font-size: 20px;
}
/*case de présentation du jeu*/
#presentation{
width:40%;
padding-right:50px;
vertical-align:top;
padding-top:30px;
padding-left:15px;

}
#fixe{
   position: fixed;
   width: 1850px;
   height: 120px;
   top: 0px;
   background-color: black;
   padding-left: 50px;
   bottom: 0px;
}
/*----------------------*/
<style>
.contenant{
  position: relative;
  text-align: center ;
  color: red;
}
/*----------------------*/
.texte_centrer{
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
}
</style>
/*----------------------*/

header {
  display: block;
  background-color: black;
}

/*dimensions de la page */

#wrapper
{
	width: 100%;
	margin:auto;
}
/*-------------------------*/
nav a
{
	font-family: serif;
	font-weight: normal;
	text-transform: uppercase;
	text-decoration: none;
	color: blue;
}

nav ul {
	list-style-type: none;
	display: flex;
	position: right;
}


nav li {
	margin-right: 10px;
	margin-left: 20px;
	position: right;
}




/*-------------------------*/
.logo_central {

	object-position: center bottom;
	display:block;
	margin:200px 300px 0px  300px; /* haut gauche droite bas*/
}
/* Style de la zone de connexion */
#connexion{
  width:18%;
  margin:auto;
  border:solid grey;
  border-radius:20px;
  padding-left:40px;
  background-color: grey;
}
.connexion{
  margin:auto;
  padding-left: 58px;
  color: white;
}

.box{
  width: 300px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-30%);
  background: #191919;
  text-align: center;
}
.box h1{
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}
.box input[type = "text"],.box input[type = "password"]{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #5f6263;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}
.box input[type = "text"]:focus,.box input[type = "password"]:focus{
  width: 280px;
  border-color: #d1bd21;
}
.box input[type = "submit"]{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #d1bd21;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}
.box input[type = "submit"]:hover{
  background: #d1bd21;
}
