<!-- Début de la feuille de style qui régira la page web du jeu GLAIVE -->

.Logo{
  width:50%;
  text-align: center;
}

#fixe{
   position: fixed;
   width: 1850px;
   height: 120px;
   top: 0px;
   background-color: grey;
   padding-left: 50px;
   bottom: 0px;
}

<style>
.contenant {
  position: relative;
  text-align: center;
  color: red;
}

.texte_centrer {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
}
</style>
