<!-- Début de la feuille de style qui régira la page web du jeu GLAIVE -->

html{
  background-color:black;
  color:white;
}
.Logo{
  width:50%;
  text-align: center;
}

.description{
  font-size: 20px;
}

#fixe{
   position: fixed;
   width: 1850px;
   height: 120px;
   top: 0px;
   background-color: black;
   padding-left: 50px;
   bottom: 0px;
}

<style>
.contenant{
  position: relative;
  text-align: center;
  color: red;
}

.texte_centrer{
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
}
</style>

header {
  display: block;
  background-color: black;
}
